<main class="container">
  <h2>Angular Slider</h2>
  <section class="slider">
    <div class="slider-list">
      <ul>
        <li [class]="items" *ngFor="let list of newData; let i = index" @carouselAnimation>
          <img [src]="list.productImageUrl" alt="">
          <div>
            <h4>{{i + 1}} {{list.name}}</h4>
            <p>{{list.price.formattedValue}} {{list.price.currency}}</p>
            <p>
              <button class="btn btn-primary">Buy Now</button>
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="controls-arrow">
      <a class="prev" (click)="prevClick()">
        <img src="assets/images/arrow_icon.svg" alt="">
      </a>
      <a class="next" (click)="nextClick()">
        <img src="assets/images/arrow_icon.svg" alt="">
      </a>
    </div>

    <!--<div class="controls-arrow">
      <a href="javascript:;" (click)="prevItem()" appPrev class="prev">
        <img src="assets/images/arrow_icon.svg" alt="">
      </a>
      <a href="javascript:;" (click)="nextItem()" appNext class="next">
        <img src="assets/images/arrow_icon.svg" alt="">
      </a>
    </div>-->
  </section>
</main>
